<html>
	<head>
		<title>__tmpl_title</title>
		<meta charset='UTF-8'>
		<link rel="stylesheet" href="./template/style.css">			
	</head>
	<body id='templ_body'>
		<div id='templ_seite'>
			<div id='templ_header'>__temp_header</div><br><br>
	
			<div id='templ_menue'>__templ_menue</div>
			<div id='templ_inhalt'>__templ_system_massage</div>
			<div id='templ_inhalt'>__templ_body</div>
			
			<br><br><br><br>
			<div id='templ_foot'>__templ_debugging</div>
		</div>
	</body>	
</html>